<div class="bg">
  <div class="modal card1">
    <div class="header">
      <img src="assets/element/hireme/close-hireme.png" alt="close-button" />
    </div>
    <div class="title">
      <img src="assets/logo/logo-hireme.png" alt="logo" />
      <h3>Hora de construir a solução para o seu negócio!</h3>

      <p class="p2-r">
        Antes de começarmos precisarei que registre alguns dados para realizar o
        orçamento e entender mais quais serão nossos objetivos no projeto.
      </p>
    </div>

    <div class="container-button1">
      <button class="button-container">Começar</button>
    </div>
  </div>

  <div class="modal card2">
    <div class="header">
      <img src="assets/element/hireme/arrow-hireme.png" alt="close-button" />
    </div>
    <div class="title">
      <h3>Quem é Você?</h3>
      <p class="p2-r">Conte-me sobre você e como podemos entrar em contato.</p>
    </div>
    <form action=""></form>

    <ul class="progress-bar">
      <li class="circle"></li>
      <li class="circle active"></li>
      <li class="circle"></li>
      <li class="circle"></li>
    </ul>

    <div class="container-button1">
      <button class="button-container">Próximo</button>
    </div>
  </div>
</div>
