<div class="bg" [ngClass]="{ hideBg: hideBg }" *ngIf="ifBg"></div>
<div class="modal-container" [ngClass]="{ hideModal: hideModal }">
  <div class="header">
    <img
      *ngIf="!isWorkActive"
      (click)="closePortfolio()"
      src="assets/element/close-menu-buttom-white.png"
      alt="botão de fechar"
    />
    <img
      class="back-button"
      *ngIf="isWorkActive"
      (click)="closeWork()"
      src="assets/element/arrow-right.png"
      alt="botão de voltar"
    />
  </div>
  <div class="content">
    <div class="work-container" [ngClass]="{ hideWork: !isWorkActive }">
      <app-work [Work]="workActive"></app-work>
    </div>
    <div class="filterlist-container">
      <app-filterlist (messageEvent)="getFilter($event)"></app-filterlist>
    </div>
    <div
      class="project {{ project.bgCard }}"
      *ngFor="let project of portfolio"
      (mouseenter)="project.isHover = true"
      (mouseleave)="project.isHover = false"
    >
      <div
        class="content-start"
        [ngClass]="{ containerImgHover: project.isHover }"
      >
        <img
          src="{{ project.img }}"
          alt=""
          [ngClass]="{ imgHover: project.isHover }"
        />
      </div>
      <div class="content-end" [ngClass]="{ staticText: !project.isHover }">
        <h2 class="{{ project.mainColor }}">{{ project.name }}</h2>
        <ul class="list">
          <li
            *ngFor="let tech of project.technologies"
            class="p3-b technology {{ project.mainColor }}"
          >
            {{ tech }}
          </li>
        </ul>
        <p class="p3-r text">
          {{ project.text }}
        </p>

        <div class="container-button">
          <div
            (click)="selectWork(project)"
            class="button-rounded"
            [ngClass]="{ hideButton: !project.isHover }"
          >
            <img src="assets/element/arrow-right-port.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
