<section class="about">
  <div>
    <h2 class="title">Quem sou eu?</h2>
    <p class="text-descktop p2-b skills">
      .Net | API Rest | Angular | React | JavaScript | HTML | CSS | Bootstrap |
      Cloud Computing (AWS)| Oracle SQL (PL/SQL) | SCRUM.
    </p>
    <p class="text-descktop p2-r">
      Minha jornada é impulsionada por uma profunda paixão pela tecnologia. Sou
      graduado em Análise e Desenvolvimento de Sistemas pela FIAP e busquei
      aprimoramento em Web Design & Mobile: UI/UX e Front-End com Angular JS.
      Cada linha de código reflete meu compromisso em criar experiências
      digitais excepcionais, integrando habilidades técnicas com uma visão
      estética. Se busca um profissional que vai além do esperado, unindo
      conhecimento técnico a uma abordagem centrada no usuário, você está no
      lugar certo. Juntos, podemos explorar as infinitas possibilidades que a
      tecnologia oferece.
    </p>
    <ul class="tech-list-descktop">
      <li><img src="assets/element/tech/angular_icon.png" alt="Angular" /></li>
      <li>
        <img src="assets/element/tech/c_sharp_icon.png" alt="C Sharp" />
      </li>
      <li>
        <img src="assets/element/tech/html_html5_icon.png" alt="HTML" />
      </li>
      <li>
        <img
          src="assets/element/tech/css3_css_file_development_icon.png"
          alt="CSS"
        />
      </li>
      <li>
        <img
          src="assets/element/tech/logo_javascript_icon.png"
          alt="JavaScript"
        />
      </li>
      <li>
        <img src="assets/element/tech/figma_icon.png" alt="Figma" />
      </li>
    </ul>
  </div>

  <div class="perfil">
    <img
      class="photo"
      src="assets/images/foto perfil 1.png"
      alt="foto de perfil"
    />

    <ul class="tech-list">
      <li>
        <img src="assets/element/tech/angular_icon.png" alt="Angular" />
      </li>
      <li>
        <img src="assets/element/tech/c_sharp_icon.png" alt="C Sharp" />
      </li>
      <li>
        <img src="assets/element/tech/html_html5_icon.png" alt="HTML" />
      </li>
      <li>
        <img
          src="assets/element/tech/css3_css_file_development_icon.png"
          alt="CSS"
        />
      </li>
      <li>
        <img
          src="assets/element/tech/logo_javascript_icon.png"
          alt="JavaScript"
        />
      </li>
      <li>
        <img src="assets/element/tech/figma_icon.png" alt="Figma" />
      </li>
    </ul>
    <p class="text-mobile p1-b">
      Sou apaixonado por tecnologia. Formado em Análise e Desenvolvimento de
      Sistemas pela FIAP. Também com formação extracurricular em Web Design &
      Mobile:
    </p>
    <p class="text-mobile p2-b">
      UI/UX e Front-End com Angular JS. .Net | API Rest | Angular | React |
      JavaScript | HTML | CSS | Bootstrap | Cloud Computing (AWS)| Oracle SQL
      (PL/SQL) | SCRUM | Inglês Avançado.
    </p>
  </div>
</section>
