.header {
  height: 653px;
  position: relative;
  display: flex;
  justify-content: end;
  flex-direction: column;

  background: linear-gradient(
      to bottom,
      hsla(0, 0%, 16%, 0.3),
      hsla(141, 37%, 44%, 0.2)
    ),
    url(./assets/images/home-mobile.jpg);

  background-position: center;
  background-size: cover;

  border-radius: 0 0 50px 50px;
}

.content {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  padding-bottom: 24px;
  padding-inline: 12px;
}

.content p:nth-child(4) {
  color: var(--neutral200-color);
  text-shadow: 2px 0px 16px black;
}

.contain .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1,
h2,
p,
span {
  text-align: center;
}

@keyframes changeTitle {
  0% {
    content: "Developer";
    opacity: 1;
  }

  18% {
    content: "Developer";
    opacity: 0;
  }
  36% {
    content: "Designer";
    opacity: 0;
  }

  50% {
    content: "Designer";
    opacity: 1;
  }

  68% {
    content: "Designer";
    opacity: 0;
  }

  85% {
    content: "Developer";
    opacity: 0;
  }

  100% {
    content: "Developer";
    opacity: 1;
  }
}

.title {
  height: 70px;
  transition: 1s ease;
}

.title::after {
  content: "";

  animation-name: changeTitle;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}

.web-text {
  height: 40px;
  bottom: 10;
  font-weight: 800;
  -webkit-text-stroke: 1px #fff;
  color: rgba(255, 255, 255, 0);
}

.container-img {
  display: none;
  flex-direction: row;
}
.image {
  display: none;
}
/* ################################################################################################### */
/* ################################################################################################### */
/* ################################################################################################### */
/* ################################################################################################### */

@media (min-width: 1024px) {
  .header {
    background: none;
    flex-direction: row;
    justify-content: space-between;
    height: 740px;
    gap: 25px;
  }

  .content {
    width: 70%;
    margin-left: 76px;
  }

  @keyframes changeTitle-descktop {
    0% {
      content: "Developer";
    }

    4% {
      content: "Develope";
    }

    8% {
      content: "Develop";
    }

    12% {
      content: "Develo";
    }

    16% {
      content: "Devel";
    }

    20% {
      content: "Deve";
    }

    24% {
      content: "Dev";
    }

    28% {
      content: "De";
    }

    32% {
      content: "Des";
    }

    36% {
      content: "Desi";
    }

    40% {
      content: "Desig";
    }

    44% {
      content: "Design";
    }
    48% {
      content: "Designe";
    }
    52% {
      content: "Designer";
    }

    56% {
      content: "Designe";
    }

    60% {
      content: "Design";
    }

    64% {
      content: "Desig";
    }

    68% {
      content: "Desi";
    }
    72% {
      content: "Des";
    }

    74% {
      content: "De";
    }

    78% {
      content: "Dev";
    }

    82% {
      content: "Deve";
    }

    86% {
      content: "Devel";
    }

    90% {
      content: "Develo";
    }

    92% {
      content: "Develop";
    }

    96% {
      content: "Develope";
    }

    100% {
      content: "Developer";
    }
  }

  .title {
    height: auto;
  }

  .title::after {
    content: "";

    animation-name: changeTitle-descktop;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    transition: 1s ease;
  }

  .title {
    width: 455.5px;
  }

  h1,
  h2,
  p,
  span {
    text-align: start;
  }

  .web-text {
    font-size: 200;
    height: 60px;
  }

  button {
    display: none;
  }

  .container-square {
    display: flex;
    justify-content: start;
    align-items: end;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    padding: 24px;
    width: 442px;
    height: 628px;
    background-color: var(--green800-color);

    transition: 2s;
  }
  .inside-square {
    position: relative;
    display: block;
    height: 330px;
    width: 330px;
    background-color: #1a202c;

    transition: 4s;
  }

  .inside-square::after {
    content: "";
    position: absolute;
    bottom: 0px;
    right: 0px;
    height: 140px;
    width: 140px;
    border-left: dashed var(--green800-color) 3px;
    border-top: dashed var(--green800-color) 3px;

    transition: 4s;
  }

  .text {
    transition: 1s;
  }

  /* ============================== opening page ============================== */

  .hideText {
    transform: translateX(-80%);
    opacity: 0;
  }

  .hideSquare {
    transform: translateX(600px);
    opacity: 0;
  }

  .hideInsideSquare {
    transform: translateX(80px);
    opacity: 0;
  }

  .hideInsideSquare:after {
    transform: translate(100px, 40px);
    opacity: 0;
  }
}
