<app-spinner id="spinner" [ngClass]="{ hideSpinner: loadPage }"></app-spinner>
<app-portfolio></app-portfolio>
<app-hireme></app-hireme>

<div class="wrapper" [ngClass]="{ showWrapper: loadPage }">
  <app-home id="home" [LoadHome]="loadPage"></app-home>
  <app-navbar
    [ContactIcons]="contactIcons"
    [ElementsTop]="elementsTop"
    [ElementsLoc]="elementsLocation"
    [LoadNav]="loadPage"
  ></app-navbar>

  <app-portfoliocard id="portfolio" [ngClass]="{ hideComponent: hidePort }">
  </app-portfoliocard>
  <div>
    <app-service
      id="service"
      [ngClass]="{ hideComponent: hideServ }"
    ></app-service>
    <app-about id="about" [ngClass]="{ hideComponent: hideAbout }"></app-about>
  </div>
  <div>
    <app-contact
      id="contact"
      [ContactIcons]="contactIcons"
      [ngClass]="{ hideComponent: hideCont }"
    ></app-contact>
    <app-footer [ContactIcons]="contactIcons"></app-footer>
  </div>
</div>
<!-- <router-outlet></router-outlet> -->
